body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */

header {
    background-color: #800000;
    display: flex;
    color: #F9F5F5;
    padding: 16px 24px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-weight: 600;
}

header .pages {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

header .pages a {
    text-decoration: none;
    font-style: italic;
    color: #F9F5F5;
}

/* section one below */

.section-one {
    padding: 16px 48px;
    display: flex;
    background-color: #800000;
    align-items: flex-start;
    justify-content: center;
    color: #F9F5F5;
    flex-direction: row;
    gap: 68px;
    flex-wrap: wrap;
    padding-bottom: 64px;
}

.section-one .s-one-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.section-one .s-one-text a {
    text-decoration: none;
    font-style: italic;
    border: 2px solid #746f6f;
    background-color: #746f6f;
    padding: 8px;
    color: #F9F5F5;
    border-radius: 8px;
    display: inline-block;
    transition: 0.2s;
    margin-top: 16px;
}

.section-one .s-one-text a:hover {
    text-decoration: none;
    font-style: italic;
    border: 2px solid #393737;
    background-color: #393737;
    padding: 8px;
    color: #F9F5F5;
    border-radius: 8px;
    display: inline-block;
    margin-top: 16px;
}


.section-one .s-one-text,
.section-one .s-one-image {
    flex: 0 0 auto
}

.section-one .s-one-image {
    display: flex;
    align-items: flex-start;
    border: 2px solid #F9F5F5;
    border-radius: 12px;
}

.section-one .s-one-image img {
    width: auto;
    height: auto;
    max-height: 240px;
    border-radius: 8px;
}

/* section two */

.section-two {
    background-color: #bdbbbb;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 16px 48px;
    flex-direction: column;
    padding-bottom: 64px;
    width: 100%;
    align-items: center;
}

.section-two h1 {
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
}


.animals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #F9F5F5;
    font-weight: 800;
    gap: 8px;
    justify-content: center;
    width: 100%;
}

.section-two .animals .animal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: auto;
    border: 2px solid #F9F5F5;
    border-radius: 8px;
    background-color: #a05e5e;
    padding: 8px;
}

.section-two .animals .animal-box img {
    max-height: 240px;
    width: auto;
    border-radius: 10px;
    border: 1px solid #F9F5F5;
    display: block;
    object-fit: cover;
}

/*section 3*/

.section-three {
    padding-top: 48px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: column;
    background-color: #F9F5F5;
    width: 100%;
    flex-wrap: wrap;
    gap: 24px;
}

.section-three h1 {
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-bottom: 24px;
}

.section-three .quote {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    border: 2px solid #800000;
    border-radius: 8px;
    background-color: #a05e5e;
    color: #F9F5F5;
    padding: 0 24px;
}

.section-three .quote .attr {
    margin-left: auto;
    padding-right: 16px;
}

/*section four*/

.section-four {
    background-color: #800000;
    color: #F9F5F5;
    display: flex;
    padding: 32px 16px;
    justify-content: center;
    align-items: center;
}

.section-four .cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

.section-four .cta .button {
    border: 1px solid #F9F5F5;
    border-radius: 8px;
    padding: 8px;
    background-color: #F9F5F5;
    transition: 0.2s;
}

.section-four .cta .button a {
    color: #800000;
    text-decoration: none;
}

.section-four .cta .button:hover {
    border: 1px solid #393737;
    border-radius: 8px;
    padding: 8px;
    background-color: #393737;
    color: #F9F5F5;
}

.section-four .cta .button a:hover {
    color: #F9F5F5;
    text-decoration: none;
}

.section-four .cta .button:hover a {
  color: #F9F5F5;
}