body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */

header {
    background-color: #800000;
    display: flex;
    color: #F9F5F5;
    padding: 16px 24px;
    align-items: center;
}

header h1 {
    font-weight: 600;
}

header .pages {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

header .pages a {
    text-decoration: none;
    font-style: italic;
    color: #F9F5F5;
}

